<div class="container nodelist">
  <div class="row"><h3 class="negstyle">{{title}}</h3></div>
  
  <div class="row">
    <div class="col">
    {{#each-in nodes as |nodeid snode|}}
        {{#if showimg }}
        {{#link-to "node" snode.id }} 
        <div class="container node">
        <div class="row">        
          <div class="col-md-8">
            <div class="container">
              <div class="row">
                  <h4>({{snode.order}}) - {{ snode.name }}</h4>
              </div>
              <p>{{snode.excerpt}}</p>
              <PathTags @paths={{ snode.paths }} @classes="row paths" @path_classes="pathtag" />
            </div>
          </div>
          <div class="col-md-4">
            {{#if snode.img }}
              <div class="nodeimgcontainer">
              <img class="nodeimg" src="{{ snode.img }}" >
              </div>
            {{/if}}
          </div>

        </div>        
        </div>
                {{/link-to}}

        {{else}}
            {{#link-to "node" snode.id }} 
            <div class="container node">
              <div class="row">
                  <h4>({{snode.order}}) - {{ snode.name }}</h4>
              </div>
              <p>{{snode.excerpt}}</p>
              <PathTags @paths={{ snode.paths }} @classes="row paths" @path_classes="pathtag" />
            </div>        
            {{/link-to}}
        {{/if}}
        
    {{/each-in}}
    </div>
  </div>
</div>

{{yield}}