
<div class="container nodetitle">
  <div class="row">
    <h2>{{ node.order }} - {{ node.name }} </h2>
  </div>
  
  <PathTags @paths={{ node.paths }} @classes="row paths" @path_classes="pathtag"  />
  
</div>

{{yield}}