:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  
  --primary-0: #EAE7DC;
  --primary-1: #D8C3A5;
  --primary-2: #4E4D4A;
  --primary-3: #E98074;
  --primary-4: #E85A4F;

  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
    background-color: var(--primary-1);
}

svg {
	border-style: solid;
	border-width: 0px;
}

.container {
    font-family: 'Cantarell', sans-serif;
    background-color: var(--primary-0);
}

.container-fluid {
    font-family: 'Cantarell', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Fjalla One', sans-serif;
}

.index p {
    margin-left: 8px;
}

div, p, a, h1, h2, h3 {
    border-style: dashed;
    border-width: 0px;
}

.link {
    stroke: #000;
}

.node {
    margin-bottom: 20px;
}

.navbar-light {
    background-color: var(--primary-0);
    color: var(--primary-3);    
}

.navbar-light .navbar-brand {
    color: var(--primary-4);    
}

.navbar-light .nav-item .nav-link {
    color: var(--primary-3);
}

.navbar-light .nav-item .nav-link.active {
    background-color: var(--primary-0);
    color: var(--primary-4);        
}

.navbar-toggler {
    color: var(--primary-4);
}

.brandname {
  margin-left: 10px;	
}

.brand_extra {
    margin-left: 5px;
}

.titlestyle {
    background-color: var(--primary-0);
    color: var(--primary-4);    
}

.negstyle {
    background-color: var(--primary-4);
    color: var(--primary-1);   
}

.pagetitle {
    width: 100%;
    padding-left: 0px;
    padding: 0px;
    margin: 0px;
}

.pagetitle h1 {
    font-size: 260%;
}

.pagetitle img {
    height: 100%;
    width: 0px;
}

.pagetitle p {
    margin-top: 7px;
    display: inline-block;
    vertical-align: middle;
    font-size: 140%;
}

.mainlinks {
    background-color: var(--primary-1);
    color: var(--primary-2);
    width: 100%;    
    margin-left: 0px;
}

.mainlinks a {
    color: var(--primary-4);
}

h2, h3 {
    margin-top: 8px;
    margin-left: 8px;
}

a {
    color: var(--primary-4);
}

.pathtag {
	background-color: var(--primary-1);
    color: var(--primary-2);
    margin-right: 10px;
    margin-bottom: 2px;
}

.first_step {
    margin-bottom: 20px;
}

.first_step .pathtag {
    margin-bottom: 20px;
}

.nodelist h4 {
	font-size: 120%;
    margin: 0px;
    margin-bottom: 4px;
}

.nodelist .node {
    margin-bottom: 15px;
}

.nodetitle {
    margin: 0px;
    padding-left: 10px;
    background-color: var(--primary-4);
}

.nodetitleheader {
    padding-left: 20px;
    padding-right: 10px;    
    background-color: var(--primary-4);
}

.nodetitleheader h2 {
    background-color: var(--primary-4);
}

.nodetitletools .btn {
    color: var(--primary-4);
    border-color: var(--primary-4);
    margin: 10px;   
    margin-left: -15px;
}

.nodetitletools {
    margin: 0px;
    padding: 0px;
    background-color: var(--primary-0);
}

.nodedesc {
    color: var(--primary-2);
    padding-left: 0px;
}

.nodedesc .nodeimg {
    margin-top: 8px;
    width: 100%;
}

.nodedesc h1, .nodedesc h2, .nodedesc h3, .nodedesc h4 {
    margin-top: 10px;
    margin-left: 0px;
}

.nodedesc h1 {
    font-size: 170%;
}


.nodedesc h2 {
    font-size: 150%;
}


.nodedesc h3 {
    font-size: 130%;
}

.nodedesc blockquote {
    font-size: 100%;
    margin-left: 5px;
    padding-left: 10px;
    border-left-style: solid;
    border-left-width: 1px;
}

.done_section {
    color: var(--primary-2);    
}

.done_section h2 {
  margin: 0px;	
}

.nodelist {
    margin-top: 0px;
}

.nodelist h3 {
    width: 100%;
    padding-left: 10px;
}

.nodelist .node {
    padding-left: 20px;
    border-bottom: 1px solid;
    border-color: var(--primary-1);
}

.node p {
    color: var(--primary-2);
    margin-left: -15px;
}

.nodelist .nodeimg {
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
}

.nodeimgcontainer {
    height: 130px;
    margin-bottom: 10px;
    overflow: hidden;
}

.nodelist .container-fluid {
	margin-bottom: 20px;
}

.paths {
	margin-bottom: 10px;
}