<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post-Scarcity Transition paths</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor/bootstrap.min.css" >
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/ember-quickstart.css">

    <script src="{{rootURL}}assets/d3.js" charset="utf-8"></script>
    <script src="{{rootURL}}assets/jquery.js" charset="utf-8"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{rootURL}}assets/main.css">
 
    <link rel="stylesheet" href="{{rootURL}}assets/fonts1.css">
 
    {{content-for "head-footer"}}

  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor/linkify.min.js" ></script>
    <script src="{{rootURL}}assets/vendor/linkify-jquery.js" ></script>

    <script src="{{rootURL}}assets/profile.js"></script>
    <script src="{{rootURL}}assets/data.js"></script>
    <script src="{{rootURL}}assets/app.js"></script>
    <script src="{{rootURL}}assets/main.js"></script>

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/ember-quickstart.js"></script>

    <script src="{{rootURL}}assets/vendor/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{rootURL}}assets/vendor/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {{content-for "body-footer"}}
  </body>
</html>
