<div class="container">
<nav class="navbar navbar-light navbar-expand-lg justify-content-between">
  <a class="navbar-brand" href="{{rootURL}}/">
    <div class="container-fluid"><div class="row">
       <img src="imgurl" width="30" height="30" alt="">
       <div class="brandname">Post-scarcity Transition</div><div class="brand_extra d-none d-md-block"> - Find your path</div>
    </div></div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">{{#link-to "node" "list" class="nav-link" }}Get started!{{/link-to}}</li>
      <li class="nav-item">{{#link-to "done" class="nav-link" }}Done{{/link-to}}</li>
    </ul>
  </div>
</nav>
</div>

<div class="container">
<div class="row">
<div class="col">
{{outlet}}
</div>
</div>
</div>

{{log}}
