  <div class="nodetitleheader negstyle">
  <div class="row">
    <div class="col">
      <h2>Done</h2>
    </div>
  </div>
  </div>

      <Nodelist @nodes={{this.model.done_nodes}} />
      {{#if false}} <h3>Not done</h3>
      <NodeNamesList @nodes={{ this.model.not_done_nodes }} class="done_nodes" />
      {{/if}}

{{outlet}}