<div class="row index">
<div class="col">
<div class="negstyle">
<h2>Welcome</h2>
</div>

<h3>This project is under construction</h3>
<p>
We started this project in November 2019. Please bear with us while gather data and write articles. If you want to contribute, that would be amazing! Contact juuso@vilmunen.net 
or start putting out merge requests:
</p>

<h3>What is this</h3>
<p>
A growing number of people seem to agree that this current system isn't working towards healthy planet and humanity.
</p>
<p>
It also looks like people aren't finding the solutions to that problem that they could join to take part in. 
</p>
<p>
This app is here to help you find your path towards a more sustainable future. Take small steps and see where the path takes you.
</p>

<p>
<center>
I hope our paths cross sooner or later :)
</center>
</p>

<center>
{{#link-to "node" "list" }}Start here and have fun!{{/link-to}}
</center>

</div>
</div>
