{{#if this.model.node }}
  <div class="nodetitleheader negstyle">
  <div class="row">
    <div class="col">
        <NodeTitle @node={{ this.model.node }} />
    </div>
  </div>
  </div>
    
  <div class="row">
    <div class="col-md-6">
      <div class="row nodetitletools">  
      <div class="col">
        {{#if this.model.isdone }}  
          <button {{ action "toggle" this.model.node.id }} class="btn btn-outline-primary">Set un-done</button>
        {{else}}
          <button {{ action "toggle" this.model.node.id }} class="btn btn-outline-primary">Set done</button>
        {{/if}}
      </div>
    </div>
  
    <div class="container nodedesc">
      {{#if this.model.node.img }}
      <img class="nodeimg" src="{{ this.model.node.img }}" >
      {{/if}}
      
    {{#each-in this.model.node.desc as |desctitle descvalues|}}
      {{#if (eq descvalues.type "heading")}}
        {{#if (eq descvalues.depth 1)}}
          <h1>{{ descvalues.text }}</h1>
        {{/if}}

        {{#if (eq descvalues.depth 2)}}
          <h2>{{ descvalues.text }}</h2>
        {{/if}}

        {{#if (eq descvalues.depth 3)}}
          <h3>{{ descvalues.text }}</h3>
        {{/if}}

        {{#if (eq descvalues.depth 4)}}
          <h4>{{ descvalues.text }}</h4>
        {{/if}}
      {{/if}}

      {{#if (eq descvalues.type "paragraph") }}
        <p>
        {{#each-in descvalues.parts as |ippart ppart|}}
          {{#if (eq ppart.type "text") }}
            {{ ppart.text }}
          {{/if}}
          {{#if (eq ppart.type "link") }}
            <a href="{{ ppart.href }}">{{ ppart.text }}</a>
          {{/if}}
      
          {{#if (eq ppart.type "youtube") }}
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ ppart.video_id }}" frameborder="0" allowfullscreen></iframe>
            </div>
          {{/if}}
        {{/each-in}}
        </p>
      {{/if}}

      {{#if (eq descvalues.type "blockquote") }}
        <blockquote class="blockquote"><p class="md-0">
        {{#each-in descvalues.parts as |ippart ppart|}}
          {{#if (eq ppart.type "text") }}
            {{ ppart.text }}
          {{/if}}
          {{#if (eq ppart.type "link") }}
            <a href="{{ ppart.href }}">{{ ppart.text }}</a>
          {{/if}}      
        {{/each-in}}
        </p></blockquote>
      {{/if}}

      <Linkify />
    {{/each-in}}
  
      <div class="row col editlink">
        <a href="https://gitlab.com/post-scarcity-support/transition-paths-data/-/edit/master/_nodes/{{ this.model.node.path }}/{{ this.model.node.id }}.md">Edit page</a>
      </div>
     </div>
  
    </div>
    
    <div class="col-md-6">
      <Nodelist @title="Similar steps" @nodes={{this.model.same_path}} />
      <Nodelist @title="More" @nodes={{this.model.first_nodes}} />  
    </div>
  
  </div> <!-- row -->
  
{{else}}
  <div class="nodetitleheader negstyle">
  <div class="row">
    <div class="col">
      <h2>Start</h2>
    </div>
  </div>
  </div>

  <Nodelist @nodes={{this.model.first_nodes}} @showimg=true />

{{/if}}
  
{{outlet}}
